body {
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    display: flex;
    align-items: flex-end;
  }
  
  .box {
    width: 200px;
    height: 120px;
  }
  
  .x {
    background-color: green;
  }
  
  .y {
    background-color: rgb(30, 14, 208);
  }
  
  .z {
    background-color: rgb(232, 4, 4);
  }
  