body {
    font-family: 'Lobster', cursive;
    background-color: #e9f0f0;
    color: #242424;
    margin: 0;
    padding: 0;
  }
  
  header {
    padding: 0;
  }
  
  .card {
    width: 450px;
    margin: 20px;
    background-color: #eae5e5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    float: left;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-description {
    color: #232222;
  }
  
  .navbar-logo {
    color: #eee9e9;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-link {
    margin: 0 10px;
  }
  
  .navbar-link a {
    color: #eae7e7;
    text-decoration: none;
  }
  
  .navbar-link a:hover {
    text-decoration: underline;
  }
  .left_button {
    background-color: transparent;
    border: 2px solid rgb(239, 7, 7);
    width: 100px;
  height: 40px;
}
.right_button {
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid rgb(190, 241, 6) ;
    width: 100px;
    height: 40px;
}

.left_button:hover{
    background-color: red;
    }
    .right_button:hover{
    background-color:  rgb(233, 229, 13)
    }